<div class="main">
  <h3>Player 1</h3>
  <p>Please pick a symbol:</p>
<ul>
  <li><a href="/rock">Rock</a></li>
  <li><a href="/paper">Paper</a></li>
  <li><a href="/scissors">Scissors</a></li>
</ul>
</div>
