<div>
  <h2>Welcome to Rock Paper Scissors</h2>
  <h3>How to play</h3>
  <ol>
    <li>First player selects a hand sign to use without showing their opponent</li>
    <li>Then the second player selects their hand sign and the winner will be declared</li>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock</li>
  </ol>
  <h3>Player 1</h3>
  <p>Please pick a symbol:</p>
<ul>
  <li><a href="/rock">Rock</a></li>
  <li><a href="/paper">Paper</a></li>
  <li><a href="/scissors">Scissors</a></li>
</ul>
<h3>Or Play the Computer</h3>
<ul>
  <li><a href="/rock/random">Rock</a></li>
  <li><a href="/paper/random">Paper</a></li>
  <li><a href="/scissors/random">Scissors</a></li>
</ul>
</div>
