<div class="main">
  <h3>Player 2</h3>
  <p>Please pick a symbol:</p>
  <ul>
    <li><a href="/RPSgame/scissors/rock">Rock</a></li>
    <li><a href="/RPSgame/scissors/paper">Paper</a></li>
    <li><a href="/RPSgame/scissors/scissors">Scissors</a></li>
  </ul>
</div>
